
.product-edit-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 650px;
    margin: 0 auto; 
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
    
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-image {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }
  
  .save-button_pdp {
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 6px !important;
    cursor: pointer;
    width: 27%;
    float: right;
  }
  
  .save-button_pdp:hover {
    background-color: #005bb5;
  }
  .product-detail {
    padding: 20px;
  }
  
  .product-edit-container {
    display: flex;
    gap: 20px;
  }
  
  .product-image-section {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-image-preview {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-info-section {
    flex: 2;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    /* margin-bottom: 5px; */
  }
  
  .form-group input {
    /* width: 100%; */
    padding: 8px;
    box-sizing: border-box;
  }
  

  .back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 17%;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  
  .swal2-confirm{
    width: 100%;
  }
  .edit_prd{
    margin: 0px 0px 6px 0px;
  }
  .variant-table{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 100%;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: left;
    min-width: 18px;
    padding: 5px 10px;
    margin-top: 20px;
  }
  