.brand-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.brand-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.brand-header h1 {
  margin: 0;
  font-size: 24px;
}

.brand-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.brand-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.add-brand-btn {
  background: linear-gradient(44deg, #0c6859 27%, #1f5c38 71%, rgb(74 123 63) 100%);
  color: white;
  border: none;
width:12%;  
font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px;
}

.add-brand-btn:hover {
  background-color: #0056b3;
}
.brand-logo {
  margin-bottom: 10px;
}

.brand-logo-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.brand-card {
  background: linear-gradient(44deg, rgb(0 0 0) 0%, rgb(246 227 192) 51%, rgb(0 0 0) 100%);  border-radius: 50px;
  padding: 12px;
  width: 200px;
  box-shadow: 0px 40px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.brand-card:hover {
  transform: translateY(-5px);
}

.brand-id {
  font-size: 14px;
  color: #666;
}
