/* src/components/CategoriesTable.css */

p{
  margin: 0;
  font-weight: 500;
}

table, th, td {
  border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: left;
  min-width: 18px;
  padding: 5px 10px;
}

th{
  font-size: 16px;
    font-weight: 500;
}

td{
  font-size: 14px;
    font-weight: 400;
  
}

.action-buttons {
  display: none; 
  margin-left: 10px; 
}

tr:hover .action-buttons {
  display: inline; 
}

.action {
  margin-left: 5px; 
  cursor: pointer; 
  color: blue; 
}
.category_delete{
  text-align: right;
  cursor: pointer; 
}

.CategoryTable-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-addNewCategory button {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}


.CategoryContainer{
  display: flex;
  gap: 20px;
}

.CategoryName{
  background-color: lightgray;
}
.CategoryMain {
  padding: 7px;
}

.CategoryTable-header {
  margin-bottom: 10px;
}

.CategoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.DropdownsContainer {
  /* display: flex;
  justify-content: space-between;
  width: 100%; */
  /* display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;  */
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.DropdownColumn {
  flex: 1 1 calc(33.33% - 10px);
  box-sizing: border-box;

  /* flex: 1;
  margin-right: 15px;  */
}

.DropdownColumn label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.DropdownColumn select {
  width: 100%; /* Full width for dropdowns */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.DropdownColumn select:focus {
  border-color: #007bff; /* Focus border color */
}

.CategoryContainerRight {
  flex: 1; /* Make sure this takes the remaining space */
  margin-left: 20px;
}

.CategoryContainerRight p {
  font-weight: bold;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 200px;
  position: relative;
}

.popup-content, button {
  background: rgb(16 155 87);
  color: white;
  border: none;
  padding: 10px;
  width: 27%;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 5px;
}
.custom-dropdown {
  position: relative;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 4px;
} 

.selected-category {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  max-height: 300px; /* Limit dropdown height */
  overflow-y: auto; /* Scroll if overflow */
}

.dropdown-option {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px;
}

.dropdown-option:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

.deleteButton {
  margin-left: 10px; /* Space between name and delete button */
  background-color: red;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: darkred; /* Darker red on hover */
}
.editButton {
  margin-left: 10px; /* Space between name and delete button */
  background-color: rgb(28, 18, 230);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.editButton:hover {
  background-color: rgb(47, 158, 233); /* Darker red on hover */
}
.btn_newcategory,.btn_new_section,.btn_producttype{
  margin-left: 10px; /* Space between name and delete button */
  background-color: rgb(15, 182, 84);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.btn_newcategory:hover, .btn_new_section:hover,.btn_producttype:hover {
  background-color: rgb(158, 224, 108); /* Darker red on hover */
}
.close_btn{
  float: right;
}
.dropdown-search-input{
  margin-right: 10px;
}
.close-button { position: absolute; top: 10px;    right: 10px;  min-width: 30px;   padding: 5px 10px; font-size: 22px;   border-radius: 50%; background-color: transparent;  color: #6366f1;  border: none; cursor: pointer; transition: background-color 0.3s ease; width: 20%;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

.close-button .close-icon {
  font-weight: bold;
}
.close-button:hover .close-icon {
  color: #ff0000; }
