/* src/components/CategoriesTable.css */

p{
  margin: 0;
  font-weight: 500;
}

table, th, td {
  border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: left;
  min-width: 18px;
  padding: 5px 10px;
}

th{
  font-size: 16px;
    font-weight: 500;
}

td{
  font-size: 14px;
    font-weight: 400;
  
}

.action-buttons {
  display: none; 
  margin-left: 10px; 
}

tr:hover .action-buttons {
  display: inline; 
}

.action {
  margin-left: 5px; 
  cursor: pointer; 
  color: blue; 
}

.CategoryTable-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-addNewCategory button {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}


.CategoryContainer{
  display: flex;
  gap: 20px;
}

.CategoryName{
  background-color: lightgray;
}
.CategoryMain {
  padding: 20px;
}

.CategoryTable-header {
  margin-bottom: 20px;
}

.CategoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.DropdownsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.DropdownColumn {
  flex: 1; /* Each dropdown takes an equal amount of space */
  margin-right: 15px; /* Spacing between columns */
}

.DropdownColumn label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.DropdownColumn select {
  width: 100%; /* Full width for dropdowns */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.DropdownColumn select:focus {
  border-color: #007bff; /* Focus border color */
}

.CategoryContainerRight {
  flex: 1; /* Make sure this takes the remaining space */
  margin-left: 20px;
}

.CategoryContainerRight p {
  font-weight: bold;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 200px;
  position: relative;
}

.popup-content, button {
  top: 10px;
  right: 10px;
  background: rgb(174, 170, 170);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}
