/* src\components\Header.css */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #2b1b4f;
  color: white;
  }
  
  .logo {
    font-size: 34px;
    font-weight: 500;
  }
  