

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-page {
    display: flex;
    height: 100vh;
    background-color: #8e8e8e;

}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.image-container img {
    max-width: 100%; 
    height: auto;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 70px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.login-h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.8em;
}

form {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

one{
    margin-bottom: 15px;
    width: 100%; 
}

.label-login {
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    text-align: left; 
}

.label-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: 'border-color 0.3s ease';
    width: 100%; 
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.forgot-password {
    margin-top: 20px;
    text-align: center; 
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .login-container {
        width: 90%; 
        padding: 20px; /* Adjust padding for smaller screens */
    }

    h2 {
        font-size: 1.5em; /* Smaller font size for smaller screens */
    }

    .image-container {
        display: none; /* Hide image on small screens if necessary */
    }
}
/* Login.css */
.link-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    font-size: inherit;
    width:100%
  }
  