body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-page {
    display: flex;
    height: 100vh;
    background-color: #8e8e8e;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 76px 150px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.8em;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.one {
    margin-bottom: 15px;
    width: 100%;
}

.label-login {
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    text-align: left;
}

.label-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    width: 100%;
    margin: 10px 0px 10px 0px !important;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.button-login {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 33px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 7rem;
}

.button-login {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.forgot-password {
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    .login-h2 {
        font-size: 1.5em;
    }

    .image-container {
        display: none;
    }
}

.forgot-password-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-reset-password {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    position: relative;
}

.close-x-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}

.close-x-modal:hover {
    color: #ff4d4d;
}



