.topMenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topMenu li {
  padding: 10px 15px; 
  font-size: 16px;
  font-weight: 500;
  cursor: pointer; 
  transition: background-color 0.3s;
}


.topMenu li:hover {
  background-color: #f4f4f4a1;
  color: #2b1b4f;
}

.subMenu {
  padding: 0;
  margin-top: 5px;
  padding-left: 15px;
}

.subMenu li {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  transition: background-color 0.3s;
}

.subMenu li:hover {
  background-color: #51607d;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%; 
  }
}
.upload-container {
  margin-top: 10px;
  background-color: #ffffff; 
  padding: 10px; 
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}
.sidebar {
  background-color: #8111ab; /* Darker shade */
  color: #f9f5e6; /* Light text */
  height: 120vh;
  width: 250px;
  font-family: 'Verdana', sans-serif;
}
.topMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.topMenu li {
  padding: 15px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}
.topMenu li:hover {
  color: #ae0a5d; /* Yellow color on hover */
}
.topMenu li:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 5px;
  height: 100%;
}