
/* Sidebar styling */
.sidebar {
  background-color: #f4f4f4;
  color: #333;
  width: 200px;
  padding: 4px;
  font-family: Arial, sans-serif;
  height: 300vh; 
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.topMenu {
  list-style: none;
  padding: 0;
}

.topMenu li {
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-wrap: wrap;
}

.topMenu li:hover {
  background-color: #e0e0e0;
}

.icon {
  margin-right: 10px;
}

.productsMenu {
  position: relative;
}

.dropdown-icon {
  margin-left: auto;
  transition: transform 0.3s;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.subMenu {
  list-style: none;
  padding-left: 30px;
  margin-top: 5px;
}

.subMenu li {
  padding: 8px 0;
  font-size: 14px;
  color: #555;
}

.subMenu li:hover {
  color: #000;
  background-color: #eaeaea;
}
.upload_btn{
  width: 100%;
}